@import 'constants.scss';

body {
    background: $black;
    color: $white;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.alignCenter {
    align-items: center;
}

.flexGrow {
    flex-grow: 1;
}