.loginContainer {
    padding: 2rem 3rem;
    display: flex;
    justify-content: center;

    .paper {
        display: grid;
        width: 60%;
        padding: 3rem;
        gap: 2rem;
    }

    .container {
        display: flex;
        justify-content: center;

    }

    .flex {
        display: flex;
    }

    .alignCenter {
        align-items: center;
    }

    .flexGrow {
        flex-grow: 1;
    }
}